<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level] %logger{20} — %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silence HikariCP internal debug noise -->
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- Silence JavaFX internals -->
    <logger name="com.sun" level="WARN"/>
    <logger name="javafx"  level="WARN"/>

    <!-- App code: INFO and above -->
    <logger name="com.bankapp" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
